<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <video width="720px" height="480" controls>
        <source id="course-video"
                src="https://edubin-axror.herokuapp.com/api/video/11111.mp4"
                type="video/mp4">
    </video>
</div>
<div>
    <video width="720px" height="480" controls>
        <source src="http://localhost:8080/api/video/11111.mp4"
                type="video/mp4">
    </video>
</div>
</body>
</html>