<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min/js"></script>
</head>
<body>
<script>
    const req = new XMLHttpRequest();
    req.open('GET','http://localhost:8080/api/course/get/2');
    req.addEventListener('load',function (){
        const res = JSON.parse(req.responseText);
        console.log(res)
    })
    req.send();
</script>
<p>aknskna </p>
<script>
// Get the collapse link element
const collapseLink = document.querySelector('[data-target="#collapseOne"]');

// Add a click event listener to the collapse link element
collapseLink.addEventListener('click', function() {
// Toggle the "collapsed" class on the collapse link element
this.classList.toggle('collapsed');

// Get the aria-expanded attribute value of the collapse link element
const isExpanded = this.getAttribute('aria-expanded');

// Toggle the value of the aria-expanded attribute
this.setAttribute('aria-expanded', isExpanded === 'true' ? 'false' : 'true');
});

// Get the video source element
const videoSource = document.getElementById('course-video');

// Update the video source URL
videoSource.src = 'NEW_VIDEO_URL';
</script>
<!--<div class="card">-->
<!--    <div class="card-header" id="headingOne">-->
<!--        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">-->
<!--            <ul>-->
<!--                <li><i class="fa fa-file-o"></i></li>-->
<!--                <li><span class="lecture">Lecture 1.1</span></li>-->
<!--                <li><span class="head" id="title">What is javascirpt</span></li>-->
<!--                <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 00.30.00</span></span></li>-->
<!--            </ul>-->
<!--        </a>-->
<!--    </div>-->

<!--    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">-->
<!--        <div class="card-body">-->
<!--            <p id="definitionContent">Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies luctus augue, eget maximus felis laoreet quis. Maecenasbibendum tempor eros.</p>-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <video width="320" height="210" controls>-->
<!--                <source id="course-video" src="../../home%20alone/Functional-Programming-with-Java-Streams-API.mp4" type="video/mp4">-->
<!--            </video>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<script>
    // Get the parent element
    const parent = document.getElementById("accordionExample");

    // Define an array of lecture data
    const lectureData = [
        {
            title: "What is JavaScript",
            duration: "00.30.00",
            videoSrc: "../../home%20alone/Functional-Programming-with-Java-Streams-API.mp4",
            definition: "Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies luctus augue, eget maximus felis laoreet quis. Maecenasbibendum tempor eros."
        },
        {
            title: "JavaScript Basics",
            duration: "00.45.00",
            videoSrc: "../../home%20alone/Functional-Programming-with-Java-Streams-API.mp4",
            definition: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel ipsum vitae sapien ullamcorper pulvinar. Ut ut bibendum eros, nec placerat leo. Vivamus in mollis ex."
        },
        {
            title: "Advanced JavaScript",
            duration: "01.00.00",
            videoSrc: "../../home%20alone/Functional-Programming-with-Java-Streams-API.mp4",
            definition: "Pellentesque vel nisi lacus. Morbi eu velit vitae sem blandit pharetra. Aliquam mattis enim et massa sollicitudin varius. Nunc a sagittis nibh, sed aliquam libero."
        }
    ];

    // Loop through the lecture data and generate cards
    for (let i = 0; i < lectureData.length; i++) {
        for (let i = 1; i <= 3; i++) {
            const card = document.createElement("div");
            card.classList.add("card");

            const header = document.createElement("div");
            header.classList.add("card-header");
            header.setAttribute("id", "heading" + i);

            const link = document.createElement("a");
            link.setAttribute("href", "#");
            link.classList.add("collapsed");
            link.setAttribute("data-toggle", "collapse");
            link.setAttribute("data-target", "#collapse" + i);
            link.setAttribute("aria-expanded", "false");
            link.setAttribute("aria-controls", "collapse" + i);

            const ul = document.createElement("ul");

            const li1 = document.createElement("li");
            const i1 = document.createElement("i");
            i1.classList.add("fa", "fa-file-o");
            li1.appendChild(i1);

            const li2 = document.createElement("li");
            li2.innerHTML = "<span class='lecture'>Lecture 1." + i + "</span>";

            const li3 = document.createElement("li");
            li3.innerHTML = "<span class='head' id='title'>What is javascirpt</span>";

            const li4 = document.createElement("li");
            const span4 = document.createElement("span");
            span4.classList.add("time", "d-none", "d-md-block");
            const i4 = document.createElement("i");
            i4.classList.add("fa", "fa-clock-o");
            span4.appendChild(i4);
            const span4Inner = document.createElement("span");
            span4Inner.textContent = "00.30.00";
            span4.appendChild(span4Inner);
            li4.appendChild(span4);

            ul.appendChild(li1);
            ul.appendChild(li2);
            ul.appendChild(li3);
            ul.appendChild(li4);
            link.appendChild(ul);

            header.appendChild(link);
            card.appendChild(header);

            const collapse = document.createElement("div");
            collapse.classList.add("collapse");
            collapse.setAttribute("id", "collapse" + i);
            collapse.setAttribute("aria-labelledby", "heading" + i);
            collapse.setAttribute("data-parent", "#accordionExample");

            const body1 = document.createElement("div");
            body1.classList.add("card-body");
            const p1 = document.createElement("p");
            p1.setAttribute("id", "definitionContent");
            p1.textContent = "Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies luctus augue, eget maximus felis laoreet quis. Maecenasbibendum tempor eros.";
            body1.appendChild(p1);
            collapse.appendChild(body1);

            const body2 = document.createElement("div");
            body2.classList.add("card-body");
            const video = document.createElement("video");
            video.setAttribute("width", "320");
            video.setAttribute("height", "210");
            video.setAttribute("controls", "");
            const source = document.createElement("source");
            source.setAttribute("id", "course-video");
            source.setAttribute("src", "../../home%20alone/Functional-Programming-with-Java-Streams-API.mp4");
            source.setAttribute("type", "video/mp4");
            video.appendChild(source);
            body2.appendChild(video);
            collapse.appendChild(body2);

            card.appendChild(collapse);

            accordion.appendChild(card);
        }
        // // Create the card element
        // const card = document.createElement("div");
        // card.classList.add("card");
        //
        // // Create the card header element
        // const cardHeader = document.createElement("div");
        // cardHeader.classList.add("card-header");
        // cardHeader.setAttribute("id", "heading" + i);
        //
        // // Create the link element inside the card header
        // const link = document.createElement("a");
        // link.classList.add("collapsed");
        // link.setAttribute("href", "#");
        // link.setAttribute("data-toggle", "collapse");
        // link.setAttribute("data-target", "#collapse" + i);
        // link.setAttribute("aria-expanded", "false");
        // link.setAttribute("aria-controls", "collapse" + i);
        //
        // // Create the unordered list inside the link element
        // const ul = document.createElement("ul");
        //
        // // Create the list items and add them to the unordered list
        // const listItem1 = document.createElement("li");
        // const iElement = document.createElement("i");
        // iElement.classList.add("fa", "fa-file-o");
        // listItem1.appendChild(iElement);
        //
        // const listItem2 = document.createElement("li");
        // listItem2.innerHTML = "<span class='lecture'>Lecture " + (i + 1) + "</span>";
        //
        // const listItem3 = document.createElement("li");
        // listItem3.innerHTML = "<span class='head' id='title'>" + lectureData[i].title + "</span>";
        //
        // const listItem4 = document.createElement("li");
        // const timeSpan = document.createElement("span");
        // timeSpan.classList.add("time", "d-none", "d-md-block");
        // timeSpan.innerHTML = "<i class='fa fa-clock-o'></i> <span>" + lectureData[i].duration + "</span>";
        // listItem4.appendChild(timeSpan);
        //
        // ul.appendChild(listItem1);
        // ul.appendChild(listItem2);
        // ul.appendChild(listItem3);
        // ul.appendChild(listItem4);
        //
        // link.appendChild(ul);
        // cardHeader.appendChild(link);
        // card.appendChild(cardHeader);
    }

    // Create the collapse element inside the card
</script>
</body>
</html>