<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!--<section id="corses-singel" class="pt-90 pb-120 gray-bg">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-8">-->
<!--                <div class="corses-singel-left mt-30">-->
<!--                    <div class="title">-->
<!--                        <h3 id="course">Learn basis javascirpt from start for beginner</h3>-->
<!--                    </div> &lt;!&ndash; title &ndash;&gt;-->
<!--                    <div class="course-terms">-->
<!--                        <ul>-->
<!--                            <li>-->
<!--                                <div class="teacher-name">-->
<!--                                    <div class="thum">-->
<!--                                        <img src="images/course/teacher/t-1.jpg" alt="Teacher">-->
<!--                                    </div>-->
<!--                                    <div class="name">-->
<!--                                        <span>Teacher</span>-->
<!--                                        <h6 id="teacher">Mark anthem</h6>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="course-category">-->
<!--                                    <span>Category</span>-->
<!--                                    <h6 id="category">Programming </h6>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="review">-->
<!--                                    <span>Review</span>-->
<!--                                    <ul>-->
<!--                                        <li><a href="#"><i class="fa fa-star"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-star"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-star"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-star"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-star"></i></a></li>-->
<!--                                        <li class="rating">(20 Reviws)</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div> &lt;!&ndash; course terms &ndash;&gt;-->

<!--                    <div class="corses-singel-image pt-50">-->
<!--                        <img id="course-image" src="images/course/cu-1.jpg" alt="Courses">-->
<!--                        &lt;!&ndash;                            <img id="" src="D:/EduBin/edubin/src/main/resources/static/category/{}" alt="Courses">&ndash;&gt;-->
<!--                    </div> &lt;!&ndash; corses singel image &ndash;&gt;-->

<!--                    <div class="corses-tab mt-30">-->
<!--                        <ul class="nav nav-justified" id="myTab" role="tablist">-->
<!--                            <li class="nav-item">-->
<!--                                <a class="active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"-->
<!--                                   aria-controls="overview" aria-selected="true">Overview</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a id="curriculam-tab" data-toggle="tab" href="#curriculam" role="tab"-->
<!--                                   aria-controls="curriculam" aria-selected="false">Curriculam</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a id="instructor-tab" data-toggle="tab" href="#instructor" role="tab"-->
<!--                                   aria-controls="instructor" aria-selected="false">Instructor</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"-->
<!--                                   aria-selected="false">Reviews</a>-->
<!--                            </li>-->
<!--                        </ul>-->

<!--                        <div class="tab-content" id="myTabContent">-->
<!--                            <div class="tab-pane fade show active" id="overview" role="tabpanel"-->
<!--                                 aria-labelledby="overview-tab">-->
<!--                                <div class="overview-description">-->
<!--                                    <div class="singel-description pt-40">-->
<!--                                        <h6>Course Summery</h6>-->
<!--                                        <p id="summery"></p>-->
<!--                                    </div>-->
<!--                                    <div class="singel-description pt-40">-->
<!--                                        <h6>Requirements</h6>-->
<!--                                        <p id="requirement"></p>-->
<!--                                    </div>-->
<!--                                </div> &lt;!&ndash; overview description &ndash;&gt;-->
<!--                            </div>-->
<!--                            <div class="tab-pane fade" id="curriculam" role="tabpanel" aria-labelledby="curriculam-tab">-->
<!--                                <div class="curriculam-cont">-->
<!--                                    <div class="title">-->
<!--                                        <h6 id="definition">Learn basis javascirpt Lecture Started</h6>-->
<!--                                    </div>-->
<!--                                    <div class="accordion" id="accordionExample">-->
<!--                                        <div class="card">-->
<!--                                            <div class="card-header" id="headingOne">-->
<!--                                                <a href="#" data-toggle="collapse" data-target="#collapseOne"-->
<!--                                                   aria-expanded="true" aria-controls="collapseOne">-->
<!--                                                    <ul>-->
<!--                                                        <li><i class="fa fa-file-o"></i></li>-->
<!--                                                        <li><span class="lecture">Lecture 1.1</span></li>-->
<!--                                                        <li><span class="head" id="title">What is javascirpt</span></li>-->
<!--                                                        <li><span class="time d-none d-md-block"><i-->
<!--                                                                class="fa fa-clock-o"></i> <span> 00.30.00</span></span>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </a>-->
<!--                                            </div>-->

<!--                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"-->
<!--                                                 data-parent="#accordionExample">-->
<!--                                                <div class="card-body">-->
<!--                                                    <p id="definitionContent">Ut quis scelerisque risus, et viverra-->
<!--                                                        nisi. Phasellus ultricies luctus augue, eget maximus felis-->
<!--                                                        laoreet quis. Maecenasbibendum tempor eros.</p>-->
<!--                                                </div>-->
<!--                                                <div class="card-body">-->
<!--                                                    <video width="320" height="210" controls>-->
<!--                                                        <source id="course-video"-->
<!--                                                                src="../../home%20alone/Functional-Programming-with-Java-Streams-API.mp4"-->
<!--                                                                type="video/mp4">-->
<!--                                                    </video>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                        <div class="card">-->
<!--                                            <div class="card-header" id="headingTow">-->
<!--                                                <a href="#" data-toggle="collapse" class="collapsed"-->
<!--                                                   data-target="#collapseTow" aria-expanded="true"-->
<!--                                                   aria-controls="collapseTow">-->
<!--                                                    <ul>-->
<!--                                                        <li><i class="fa fa-file-o"></i></li>-->
<!--                                                        <li><span class="lecture">Lecture 1.2</span></li>-->
<!--                                                        <li><span class="head">What is javascirpt</span></li>-->
<!--                                                        <li><span class="time d-none d-md-block"><i-->
<!--                                                                class="fa fa-clock-o"></i> <span> 00.30.00</span></span>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </a>-->
<!--                                            </div>-->

<!--                                            <div id="collapseTow" class="collapse" aria-labelledby="headingTow"-->
<!--                                                 data-parent="#accordionExample">-->
<!--                                                <div class="card-body">-->
<!--                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies-->
<!--                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum-->
<!--                                                        tempor eros.</p>-->
<!--                                                </div>-->
<!--                                                <video width="320" height="210" controls>-->
<!--                                                    <source src="../../home%20alone/Functional-Programming-with-Java-Streams-API.mp4"-->
<!--                                                            type="video/mp4">-->
<!--                                                </video>-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                        <div class="card">-->
<!--                                            <div class="card-header" id="headingThree">-->
<!--                                                <a href="#" data-toggle="collapse" class="collapsed"-->
<!--                                                   data-target="#collapseThree" aria-expanded="false"-->
<!--                                                   aria-controls="collapseThree">-->
<!--                                                    <ul>-->
<!--                                                        <li><i class="fa fa-file-o"></i></li>-->
<!--                                                        <li><span class="lecture">Lecture 1.3</span></li>-->
<!--                                                        <li><span class="head">What is javascirpt</span></li>-->
<!--                                                        <li><span class="time d-none d-md-block"><i-->
<!--                                                                class="fa fa-clock-o"></i> <span> 00.30.00</span></span>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"-->
<!--                                                 data-parent="#accordionExample">-->
<!--                                                <div class="card-body">-->
<!--                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies-->
<!--                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum-->
<!--                                                        tempor eros.</p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                        <div class="card">-->
<!--                                            <div class="card-header" id="headingFore">-->
<!--                                                <a href="#" data-toggle="collapse" class="collapsed"-->
<!--                                                   data-target="#collapseFore" aria-expanded="false"-->
<!--                                                   aria-controls="collapseFore">-->
<!--                                                    <ul>-->
<!--                                                        <li><i class="fa fa-file-o"></i></li>-->
<!--                                                        <li><span class="lecture">Lecture 1.4</span></li>-->
<!--                                                        <li><span class="head">What is javascirpt</span></li>-->
<!--                                                        <li><span class="time d-none d-md-block"><i-->
<!--                                                                class="fa fa-clock-o"></i> <span> 00.30.00</span></span>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                            <div id="collapseFore" class="collapse" aria-labelledby="headingFore"-->
<!--                                                 data-parent="#accordionExample">-->
<!--                                                <div class="card-body">-->
<!--                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies-->
<!--                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum-->
<!--                                                        tempor eros.</p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                        <div class="card">-->
<!--                                            <div class="card-header" id="headingFive">-->
<!--                                                <a href="#" data-toggle="collapse" class="collapsed"-->
<!--                                                   data-target="#collapseFive" aria-expanded="false"-->
<!--                                                   aria-controls="collapseFive">-->
<!--                                                    <ul>-->
<!--                                                        <li><i class="fa fa-file-o"></i></li>-->
<!--                                                        <li><span class="lecture">Lecture 1.5</span></li>-->
<!--                                                        <li><span class="head">What is javascirpt</span></li>-->
<!--                                                        <li><span class="time d-none d-md-block"><i-->
<!--                                                                class="fa fa-clock-o"></i> <span> 00.30.00</span></span>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"-->
<!--                                                 data-parent="#accordionExample">-->
<!--                                                <div class="card-body">-->
<!--                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies-->
<!--                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum-->
<!--                                                        tempor eros.</p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                        <div class="card">-->
<!--                                            <div class="card-header" id="headingSix">-->
<!--                                                <a href="#" data-toggle="collapse" class="collapsed"-->
<!--                                                   data-target="#collapseSix" aria-expanded="false"-->
<!--                                                   aria-controls="collapseSix">-->
<!--                                                    <ul>-->
<!--                                                        <li><i class="fa fa-file-o"></i></li>-->
<!--                                                        <li><span class="lecture">Lecture 1.6</span></li>-->
<!--                                                        <li><span class="head">What is javascirpt</span></li>-->
<!--                                                        <li><span class="time d-none d-md-block"><i-->
<!--                                                                class="fa fa-clock-o"></i> <span> 00.30.00</span></span>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"-->
<!--                                                 data-parent="#accordionExample">-->
<!--                                                <div class="card-body">-->
<!--                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies-->
<!--                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum-->
<!--                                                        tempor eros.</p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                        <div class="card">-->
<!--                                            <div class="card-header" id="headingSeven">-->
<!--                                                <a href="#" data-toggle="collapse" class="collapsed"-->
<!--                                                   data-target="#collapseSeven" aria-expanded="false"-->
<!--                                                   aria-controls="collapseSeven">-->
<!--                                                    <ul>-->
<!--                                                        <li><i class="fa fa-file-o"></i></li>-->
<!--                                                        <li><span class="lecture">Lecture 1.7</span></li>-->
<!--                                                        <li><span class="head">What is javascirpt</span></li>-->
<!--                                                        <li><span class="time d-none d-md-block"><i-->
<!--                                                                class="fa fa-clock-o"></i> <span> 00.30.00</span></span>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"-->
<!--                                                 data-parent="#accordionExample">-->
<!--                                                <div class="card-body">-->
<!--                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies-->
<!--                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum-->
<!--                                                        tempor eros.</p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div> &lt;!&ndash; curriculam cont &ndash;&gt;-->
<!--                            </div>-->
<!--                            <div class="tab-pane fade" id="instructor" role="tabpanel" aria-labelledby="instructor-tab">-->
<!--                                <div class="instructor-cont">-->
<!--                                    <div class="instructor-author">-->
<!--                                        <div class="author-thum">-->
<!--                                            <img src="images/instructor/i-1.jpg" alt="Instructor">-->
<!--                                        </div>-->
<!--                                        <div class="author-name">-->
<!--                                            <a href="#"><h5>Sumon Hasan</h5></a>-->
<!--                                            <span>Senior WordPress Developer</span>-->
<!--                                            <ul class="social">-->
<!--                                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>-->
<!--                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
<!--                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="instructor-description pt-25">-->
<!--                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus fuga-->
<!--                                            ratione molestiae unde provident quibusdam sunt, doloremque. Error omnis-->
<!--                                            mollitia, ex dolor sequi. Et, quibusdam excepturi. Animi assumenda,-->
<!--                                            consequuntur dolorum odio sit inventore aliquid, optio fugiat alias.-->
<!--                                            Veritatis minima, dicta quam repudiandae repellat non sit, distinctio,-->
<!--                                            impedit, expedita tempora numquam?</p>-->
<!--                                    </div>-->
<!--                                </div> &lt;!&ndash; instructor cont &ndash;&gt;-->
<!--                            </div>-->
<!--                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">-->
<!--                                <div class="reviews-cont">-->
<!--                                    <div class="title">-->
<!--                                        <h6>Student Reviews</h6>-->
<!--                                    </div>-->
<!--                                    <ul>-->
<!--                                        <li>-->
<!--                                            <div class="singel-reviews">-->
<!--                                                <div class="reviews-author">-->
<!--                                                    <div class="author-thum">-->
<!--                                                        <img src="images/review/r-1.jpg" alt="Reviews">-->
<!--                                                    </div>-->
<!--                                                    <div class="author-name">-->
<!--                                                        <h6>Bobby Aktar</h6>-->
<!--                                                        <span>April 03, 2019</span>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="reviews-description pt-20">-->
<!--                                                    <p>There are many variations of passages of Lorem Ipsum available,-->
<!--                                                        but the majority have suffered alteration in some form, by-->
<!--                                                        injected humour, or randomised words which.</p>-->
<!--                                                    <div class="rating">-->
<!--                                                        <ul>-->
<!--                                                            <li><i class="fa fa-star"></i></li>-->
<!--                                                            <li><i class="fa fa-star"></i></li>-->
<!--                                                            <li><i class="fa fa-star"></i></li>-->
<!--                                                            <li><i class="fa fa-star"></i></li>-->
<!--                                                            <li><i class="fa fa-star"></i></li>-->
<!--                                                        </ul>-->
<!--                                                        <span>/ 5 Star</span>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div> &lt;!&ndash; singel reviews &ndash;&gt;-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <div class="singel-reviews">-->
<!--                                                <div class="reviews-author">-->
<!--                                                    <div class="author-thum">-->
<!--                                                        <img src="images/review/r-2.jpg" alt="Reviews">-->
<!--                                                    </div>-->
<!--                                                    <div class="author-name">-->
<!--                                                        <h6>Humayun Ahmed</h6>-->
<!--                                                        <span>April 13, 2019</span>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="reviews-description pt-20">-->
<!--                                                    <p>There are many variations of passages of Lorem Ipsum available,-->
<!--                                                        but the majority have suffered alteration in some form, by-->
<!--                                                        injected humour, or randomised words which.</p>-->
<!--                                                    <div class="rating">-->
<!--                                                        <ul>-->
<!--                                                            <li><i class="fa fa-star"></i></li>-->
<!--                                                            <li><i class="fa fa-star"></i></li>-->
<!--                                                            <li><i class="fa fa-star"></i></li>-->
<!--                                                            <li><i class="fa fa-star"></i></li>-->
<!--                                                            <li><i class="fa fa-star"></i></li>-->
<!--                                                        </ul>-->
<!--                                                        <span>/ 5 Star</span>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div> &lt;!&ndash; singel reviews &ndash;&gt;-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <div class="singel-reviews">-->
<!--                                                <div class="reviews-author">-->
<!--                                                    <div class="author-thum">-->
<!--                                                        <img src="images/review/r-3.jpg" alt="Reviews">-->
<!--                                                    </div>-->
<!--                                                    <div class="author-name">-->
<!--                                                        <h6>Tania Aktar</h6>-->
<!--                                                        <span>April 20, 2019</span>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="reviews-description pt-20">-->
<!--                                                    <p>There are many variations of passages of Lorem Ipsum available,-->
<!--                                                        but the majority have suffered alteration in some form, by-->
<!--                                                        injected humour, or randomised words which.</p>-->
<!--                                                    <div class="rating">-->
<!--                                                        <ul>-->
<!--                                                            <li><i class="fa fa-star"></i></li>-->
<!--                                                            <li><i class="fa fa-star"></i></li>-->
<!--                                                            <li><i class="fa fa-star"></i></li>-->
<!--                                                            <li><i class="fa fa-star"></i></li>-->
<!--                                                            <li><i class="fa fa-star"></i></li>-->
<!--                                                        </ul>-->
<!--                                                        <span>/ 5 Star</span>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div> &lt;!&ndash; singel reviews &ndash;&gt;-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                    <div class="title pt-15">-->
<!--                                        <h6>Leave A Comment</h6>-->
<!--                                    </div>-->
<!--                                    <div class="reviews-form">-->
<!--                                        <form action="#">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-md-6">-->
<!--                                                    <div class="form-singel">-->
<!--                                                        <input type="text" placeholder="Fast name">-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="col-md-6">-->
<!--                                                    <div class="form-singel">-->
<!--                                                        <input type="text" placeholder="Last Name">-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="col-lg-12">-->
<!--                                                    <div class="form-singel">-->
<!--                                                        <div class="rate-wrapper">-->
<!--                                                            <div class="rate-label">Your Rating:</div>-->
<!--                                                            <div class="rate">-->
<!--                                                                <div class="rate-item"><i class="fa fa-star"-->
<!--                                                                                          aria-hidden="true"></i></div>-->
<!--                                                                <div class="rate-item"><i class="fa fa-star"-->
<!--                                                                                          aria-hidden="true"></i></div>-->
<!--                                                                <div class="rate-item"><i class="fa fa-star"-->
<!--                                                                                          aria-hidden="true"></i></div>-->
<!--                                                                <div class="rate-item"><i class="fa fa-star"-->
<!--                                                                                          aria-hidden="true"></i></div>-->
<!--                                                                <div class="rate-item"><i class="fa fa-star"-->
<!--                                                                                          aria-hidden="true"></i></div>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="col-lg-12">-->
<!--                                                    <div class="form-singel">-->
<!--                                                        <textarea placeholder="Comment"></textarea>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="col-lg-12">-->
<!--                                                    <div class="form-singel">-->
<!--                                                        <button type="button" class="main-btn">Post Comment</button>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div> &lt;!&ndash; row &ndash;&gt;-->
<!--                                        </form>-->
<!--                                    </div>-->
<!--                                </div> &lt;!&ndash; reviews cont &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div> &lt;!&ndash; tab content &ndash;&gt;-->
<!--                    </div>-->
<!--                </div> &lt;!&ndash; corses singel left &ndash;&gt;-->

<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-12 col-md-6">-->
<!--                        <div class="course-features mt-30">-->
<!--                            <h4>Course Features </h4>-->
<!--                            <ul>-->
<!--                                <li><i class="fa fa-clock-o"></i>Duaration : <span>10 Hours</span></li>-->
<!--                                <li><i class="fa fa-clone"></i>Leactures : <span>09</span></li>-->
<!--                                <li><i class="fa fa-beer"></i>Quizzes : <span>05</span></li>-->
<!--                                <li><i class="fa fa-user-o"></i>Students : <span>100</span></li>-->
<!--                            </ul>-->
<!--                            <div class="price-button pt-10">-->
<!--                                <span>Price : <b>$25</b></span>-->
<!--                                <a type="button" onclick="getInformationFromService()" class="main-btn">Enroll Now</a>-->
<!--                            </div>-->
<!--                        </div> &lt;!&ndash; course features &ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="col-lg-12 col-md-6">-->
<!--                        <div class="You-makelike mt-30">-->
<!--                            <h4>You make like </h4>-->
<!--                            <div class="singel-makelike mt-20">-->
<!--                                <div class="image">-->
<!--                                    <img src="images/your-make/y-1.jpg" alt="Image">-->
<!--                                </div>-->
<!--                                <div class="cont">-->
<!--                                    <a href="#"><h4>Introduction to machine languages</h4></a>-->
<!--                                    <ul>-->
<!--                                        <li><a href="#"><i class="fa fa-user"></i>31</a></li>-->
<!--                                        <li>$50</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="singel-makelike mt-20">-->
<!--                                <div class="image">-->
<!--                                    <img src="images/your-make/y-1.jpg" alt="Image">-->
<!--                                </div>-->
<!--                                <div class="cont">-->
<!--                                    <a href="#"><h4>How to build a basis game with java </h4></a>-->
<!--                                    <ul>-->
<!--                                        <li><a href="#"><i class="fa fa-user"></i>31</a></li>-->
<!--                                        <li>$50</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="singel-makelike mt-20">-->
<!--                                <div class="image">-->
<!--                                    <img src="images/your-make/y-1.jpg" alt="Image">-->
<!--                                </div>-->
<!--                                <div class="cont">-->
<!--                                    <a href="#"><h4>Basic accounting from primary</h4></a>-->
<!--                                    <ul>-->
<!--                                        <li><a href="#"><i class="fa fa-user"></i>31</a></li>-->
<!--                                        <li>$50</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div> &lt;!&ndash; row &ndash;&gt;-->
<!--    </div> &lt;!&ndash; container &ndash;&gt;-->
<!--</section>-->



<script>
    // Get the collapse link element
    const collapseLink = document.querySelector('[data-target="#collapseOne"]');

    // Add a click event listener to the collapse link element
    collapseLink.addEventListener('click', function () {
// Toggle the "collapsed" class on the collapse link element
        this.classList.toggle('collapsed');

// Get the aria-expanded attribute value of the collapse link element
        const isExpanded = this.getAttribute('aria-expanded');

// Toggle the value of the aria-expanded attribute
        this.setAttribute('aria-expanded', isExpanded === 'true' ? 'false' : 'true');
    });

    // Get the video source element
    const videoSource = document.getElementById('course-video');

    // Update the video source URL
    videoSource.src = 'NEW_VIDEO_URL';
</script>
<div class="card">
    <div class="card-header" id="headingOne">
        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <ul>
                <li><i class="fa fa-file-o"></i></li>
                <li><span class="lecture">Lecture 1.1</span></li>
                <li><span class="head" id="title">What is javascirpt</span></li>
                <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 00.30.00</span></span></li>
            </ul>
        </a>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <p id="definitionContent">Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies luctus augue, eget maximus felis laoreet quis. Maecenasbibendum tempor eros.</p>
        </div>
        <div class="card-body">
            <video width="320" height="210" controls>
                <source id="course-video" src="../../home%20alone/Functional-Programming-with-Java-Streams-API.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>
<script>
    // Get the parent element
    const parent = document.getElementById("accordionExample");

    // Define an array of lecture data
    const lectureData = [
        {
            title: "What is JavaScript",
            duration: "00.30.00",
            videoSrc: "../../home%20alone/Functional-Programming-with-Java-Streams-API.mp4",
            definition: "Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies luctus augue, eget maximus felis laoreet quis. Maecenasbibendum tempor eros."
        },
        {
            title: "JavaScript Basics",
            duration: "00.45.00",
            videoSrc: "../../home%20alone/Functional-Programming-with-Java-Streams-API.mp4",
            definition: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel ipsum vitae sapien ullamcorper pulvinar. Ut ut bibendum eros, nec placerat leo. Vivamus in mollis ex."
        },
        {
            title: "Advanced JavaScript",
            duration: "01.00.00",
            videoSrc: "../../home%20alone/Functional-Programming-with-Java-Streams-API.mp4",
            definition: "Pellentesque vel nisi lacus. Morbi eu velit vitae sem blandit pharetra. Aliquam mattis enim et massa sollicitudin varius. Nunc a sagittis nibh, sed aliquam libero."
        }
    ];

    // Loop through the lecture data and generate cards
    for (let i = 0; i < lectureData.length; i++) {
        for (let i = 1; i <= 3; i++) {
            const card = document.createElement("div");
            card.classList.add("card");

            const header = document.createElement("div");
            header.classList.add("card-header");
            header.setAttribute("id", "heading" + i);

            const link = document.createElement("a");
            link.setAttribute("href", "#");
            link.classList.add("collapsed");
            link.setAttribute("data-toggle", "collapse");
            link.setAttribute("data-target", "#collapse" + i);
            link.setAttribute("aria-expanded", "false");
            link.setAttribute("aria-controls", "collapse" + i);

            const ul = document.createElement("ul");

            const li1 = document.createElement("li");
            const i1 = document.createElement("i");
            i1.classList.add("fa", "fa-file-o");
            li1.appendChild(i1);

            const li2 = document.createElement("li");
            li2.innerHTML = "<span class='lecture'>Lecture 1." + i + "</span>";

            const li3 = document.createElement("li");
            li3.innerHTML = "<span class='head' id='title'>What is javascirpt</span>";

            const li4 = document.createElement("li");
            const span4 = document.createElement("span");
            span4.classList.add("time", "d-none", "d-md-block");
            const i4 = document.createElement("i");
            i4.classList.add("fa", "fa-clock-o");
            span4.appendChild(i4);
            const span4Inner = document.createElement("span");
            span4Inner.textContent = "00.30.00";
            span4.appendChild(span4Inner);
            li4.appendChild(span4);

            ul.appendChild(li1);
            ul.appendChild(li2);
            ul.appendChild(li3);
            ul.appendChild(li4);
            link.appendChild(ul);

            header.appendChild(link);
            card.appendChild(header);

            const collapse = document.createElement("div");
            collapse.classList.add("collapse");
            collapse.setAttribute("id", "collapse" + i);
            collapse.setAttribute("aria-labelledby", "heading" + i);
            collapse.setAttribute("data-parent", "#accordionExample");

            const body1 = document.createElement("div");
            body1.classList.add("card-body");
            const p1 = document.createElement("p");
            p1.setAttribute("id", "definitionContent");
            p1.textContent = "Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies luctus augue, eget maximus felis laoreet quis. Maecenasbibendum tempor eros.";
            body1.appendChild(p1);
            collapse.appendChild(body1);

            const body2 = document.createElement("div");
            body2.classList.add("card-body");
            const video = document.createElement("video");
            video.setAttribute("width", "320");
            video.setAttribute("height", "210");
            video.setAttribute("controls", "");
            const source = document.createElement("source");
            source.setAttribute("id", "course-video");
            source.setAttribute("src", "../../home%20alone/Functional-Programming-with-Java-Streams-API.mp4");
            source.setAttribute("type", "video/mp4");
            video.appendChild(source);
            body2.appendChild(video);
            collapse.appendChild(body2);

            card.appendChild(collapse);

            accordion.appendChild(card);
        }
// // Create the card element
// const card = document.createElement("div");
// card.classList.add("card");
//
// // Create the card header element
// const cardHeader = document.createElement("div");
// cardHeader.classList.add("card-header");
// cardHeader.setAttribute("id", "heading" + i);
//
// // Create the link element inside the card header
// const link = document.createElement("a");
// link.classList.add("collapsed");
// link.setAttribute("href", "#");
// link.setAttribute("data-toggle", "collapse");
// link.setAttribute("data-target", "#collapse" + i);
// link.setAttribute("aria-expanded", "false");
// link.setAttribute("aria-controls", "collapse" + i);
//
// // Create the unordered list inside the link element
// const ul = document.createElement("ul");
//
// // Create the list items and add them to the unordered list
// const listItem1 = document.createElement("li");
// const iElement = document.createElement("i");
// iElement.classList.add("fa", "fa-file-o");
// listItem1.appendChild(iElement);
//
// const listItem2 = document.createElement("li");
// listItem2.innerHTML = "<span class='lecture'>Lecture " + (i + 1) + "</span>";
//
// const listItem3 = document.createElement("li");
// listItem3.innerHTML = "<span class='head' id='title'>" + lectureData[i].title + "</span>";
//
// const listItem4 = document.createElement("li");
// const timeSpan = document.createElement("span");
// timeSpan.classList.add("time", "d-none", "d-md-block");
// timeSpan.innerHTML = "<i class='fa fa-clock-o'></i> <span>" + lectureData[i].duration + "</span>";
// listItem4.appendChild(timeSpan);
//
// ul.appendChild(listItem1);
// ul.appendChild(listItem2);
// ul.appendChild(listItem3);
// ul.appendChild(listItem4);
//
// link.appendChild(ul);
// cardHeader.appendChild(link);
// card.appendChild(cardHeader);
}

// Create the collapse element inside the card
</script>
</body>
</html>